@media all and (max-width:550px)
{ 
 header{  margin:-3.4em 0 0 0; }

 .nav-links{ 
   font-size:3vw;
   width:55%;
   margin-bottom:-2.5em;
 }
 .nav-links a {  padding:0.5em; }
 
 .logo img{
     width:30%;
     margin:0.5em 0 0 -3.5em;
     padding-top:-10em;
 }
 .illustration-one img{
     width:80%;
     margin-top:-1em;
 }
  
 .container-top-content h1{
     font-size:7vw;
     max-width:90%;
 }
 .container-top-content p{
     font-size:3.75vw;
     max-width:85%;
 }
 button{
    font-size:3vw;
    margin:auto;
}
 .icon-row h2, .icon-column h2{
     width:80%;
     margin:auto;
 }
 .icon-row p, .icon-column p{
  max-width:75%;
  font-size: 16px;
 
 }
 .icon-row{
     display:flex;
     flex-direction:column;
     margin:1em 0 0 0 ;
     padding:1em 0 0 0;
 }
 .icon-column-left{ margin:7em 0 0 0; }
 .icon-column-right{ padding-top:7em; }
 .container-main-row{
    flex-direction:column;
     max-width:100%;
}
 .illustration-two{
     width:75vw;
    padding:8em 2em 5em 2em;
    margin:auto;
 }
.container-main-content{
    max-width:90%;
    padding:1em 0 0 10em;
 }
 .container-main-content h2{
     max-width:90%;
    font-size:23px;
 }
.container-main-content p{ 
    max-width:90%;
     font-size:17px;
}
.bg-quotes{
    width:5vw;
    height:5vw;   
}
.testimonials{
    padding:0 5em 0 0;
    height:auto;
}
.testimonial-quotes{
    width:105%;
    flex-direction:column;  
    margin:0 0 0 0.6em;
}  
.test{  width:100%;   }
.get-access{ padding-top:5em; }
.get-acces-main{ width:90%;  }
.get-access-content h2{ font-size:5vw; }
.get-access-content p{
    font-size:3.5vw;
    width:80%;
}
 form input{ padding:1.5em 1em 1.5em 2em;}
 .fylo-footer{ flex-direction:column; }
.fylo-content img{
    width:80%;
    margin:6.8em 0 0 -5em;
}
.fylo-content{
    padding:4.8em 0 10em 2.5em;
    margin:1em 1em 1em 3em;
    width:50%;
    line-height:24px;
}
.fylo-content-location img{ 
    width:4em;
    margin:0 0em 0 -6em; }
.fylo-content p{ font-size:3.8vw;}
.fylo-mail{
    width:95%;
    margin:-9em 0 0 -1em;
}
.fylo-about-us, .fylo-contact-us{
    width:50%;
    margin:3em 0 0 1.5em;
    font-size:4vw;
}
.fylo-social-icons{
    min-width:65vw;
    margin:1em;
}

}
@media only screen and (min-width:551px) and (max-width:982px)
{  
     .nav-links a{  padding:1rem; }
     .logo{ padding:1em;  }
     .logo img{ margin-top:3.5em; }
     
    .container-top-content h1{
        max-width:80%;     
        font-size:4vw;     
        }
      
    .icon-column-right img{ height:25%;}
    .icon-column-left p{ min-width:80%;}
    .icon-column-right p{ min-width:90%;}

    .icon-column-left h2, .icon-column-right h2{
            font-size:1rem;
            padding-top:4.5em;
        }
    .container-main-row{  flex-direction:column;  }
    .illustration-two{    width:70vw;  }
    .container-main-content{   padding:6em 7em 0 12em;  }
    .container-main-content p{   max-width:30em; }
    .testimonials img{ margin:10em 0 0 8em; }

    .testimonial-quotes{
            min-width:100%;
            margin:-2em 5em 0 0;
        }
    .test{  width:40%;  }
    .test p{ font-size:8px; }
    .testimonials-profile img{    margin:-0.5em 1em 0 1.8em; }
     form input{  padding:18px 5em 18px 3em; }         
    .fylo-footer img{ padding:10em 0 0 0; }

    .fylo-content{
            padding:4.8em 4.8em 10em 1em;
            max-width:30%;
        }
       
    .fylo-content-location img{ padding:0 1em 0 1em; }   
    .fylo-mail{ display:none; }
    .fylo-about-us{   margin:20em 0 0 0; }
     .fylo-about-us li, .fylo-contact-us li{   width:100px;  }
    .fylo-contact-us{    margin:20em 0 0 0;    }
    .fylo-social-icons{  margin:20em 0 0 0;  }
    
}

