@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}

header{
   background-color: hsl(218, 28%, 13%);
   width:100%;
}
.nav-links{
    display:inline;
    float:right;
    margin:5.5rem 3rem;
}
.nav-links a{
    color:hsl(0, 0%, 100%);
    opacity:0.8;
    padding:1.8rem;
    text-decoration:none;
    font-family:'Open Sans', sans-serif;
}
.logo{
    padding:4.8em;
}
.container-top{
    background-color: hsl(218, 28%, 13%);
}
.illustration-one{
     text-align: center;
}