@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}
h2{ font-family:'Raleway', sans-serif;}
P{  font-family:'Open Sans','sans-serif';
    opacity:0.8;}

header{
   background-color: hsl(217, 28%, 15%);
   width:100%;
}
.nav-links{
    display:inline;
    float:right;
    margin:5.5rem 3rem;
}
.nav-links a{
    color:hsl(0, 0%, 100%);
    opacity:0.8;
    padding:1.8rem;
    text-decoration:none;
    font-family:'Raleway', sans-serif;
}
.logo{
    padding:4.8em;
}
.logo img{
    max-width:100%;
}
.container-top{
    background-color: hsl(217, 28%, 15%);
}
.illustration-one{ text-align: center;}
.illustration-one img{ max-width:100%;}

.container-top-content{
    color: hsl(0, 0%, 100%);
    text-align:center;
}
.bg-curve-desktop{
    max-width:100%;
    margin-top:-17vmax;
}
.bg-curve-mobile{  display:none; }

.container-top-content h1{
     max-width:50%;
     margin: 0.8em auto; 
     font-family:'Raleway', sans-serif;
     font-size:2.8vw;
     line-height:1.5em;
     position:relative;
 }
 .container-top-content p{
     max-width:40%;
     margin:auto;
     line-height:1.6em;
     font-size:1.3vw;
     word-spacing:2px;
 }
 button{
    background-image:linear-gradient(160deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
     padding:1.2em 6.5em;
     margin-top:2em;
     font-size:1.05vw;
     border-radius:50px;
     font-weight:700;
     opacity:0.9;
     border-style:none;
     color:hsl(0, 0%, 100%); 
 }
 .font-icons{
     background-color:hsl(218, 28%, 13%);
     margin-top:-2rem;
}
 .icon-row{
     display:grid;
     grid-auto-flow:column;
     text-align:center;
     color: hsl(0, 0%, 100%);
     max-width:100%;
     padding:0 5em 5em 5em;
 }
 .icon-column-right img{ height:28%;}
 .icon-column-left p{ max-width:55%;}
 .icon-column-right p{ max-width:60%;
 }
 .icon-column-left h2, .icon-column-right h2{
     letter-spacing:1px;
     font-size:1.3rem;
     padding:0.8em;
 }
 .icon-column-left p, .icon-column-right p{
     font-size:14px;
     margin:auto;
     line-height:22px;
 }
.container-main{
    background-color:hsl(218, 28%, 13%);
    margin-top:-1em;
}
.container-main-row{
    display:flex;
    flex-direction:row;
    max-width:100%;
}
.illustration-two{  
    width:42.5vw;
    height:auto;
    padding:4.5em 0 0 6.5em;
}
.container-main-content{ 
    float:left; 
    color:hsl(0, 0%, 100%);
    padding:10.5em 7em 0 12em;
    margin-left:-8em;
    max-width:80%;
}
.container-main-content h2{ 
    max-width:80%;
    font-size:2.8vw;
    line-height:1.3em;
    padding:0.2em 0 0.5em 0;
}
.container-main-content p{ 
    max-width:39vmax;
    line-height:1.5em;
}
.cm-arrow-link{
    display:flex;
    color:hsl(176, 68%, 64%);
    border-bottom: 0.8px solid cyan;
    width: fit-content;
    padding:0.5em 0.5em 6px 0;
}
.cm-arrow-link h4{
    font-family:'Open Sans','sans-serif';
    font-weight:400; 
}
.cm-arrow-link img { padding:0.3em 0 0 0.3em; }
.testimonials{
    background-color:hsl(218, 28%, 13%);
    margin-top:-1em;
    max-width:100%;
    height:600px;
}
.testimonials img{ margin:10em 0 0 8em; }
.testimonial-quotes{
    display:flex;
    min-width:50%;
    margin:-2em 5em 0 7.5em;
}
.test{
    background-color: hsl(219, 30%, 18%);
    margin:20px;
    width:29%;
    border-radius:2%;
}
.test p{
 font-size:13px;
 color:hsl(0, 0%, 100%);
 width:85%;
 margin:2.5em;
 line-height:21px;
 letter-spacing:1px;
}
.testimonials-profile{
 display:flex;
 letter-spacing:1px;  
 }
.testimonials-profile img{
    border-radius: 50%;
    height:1.5em;
    margin:-0.5em 1em 0 1.8em;
}
.testimonials-profile h1{
    color:hsl(0, 0%, 100%);
    font-family:'Open Sans','sans-serif';
    font-size:10px;
    width:100%;
    margin:-0.8em 0 0 -0.5em;
}
.testimonials-profile h1 p{
    margin:0 0 20px 0px;
    font-size:8px;
}
.get-access{ 
    background-color:hsl(218, 28%, 13%); 
    margin-top:-1em;}
.get-acces-main{
    background-color:hsl(222, 31%, 15%) ;
    width:60%;
    padding-top:3em;
    margin:auto;
    color: hsl(0, 0%, 100%);
    text-align:center;
}
.get-access-content h2{
   font-size:2em;
   margin:0 0 0.8em 0;
}
.get-access-content p{
    font-size:14px;
    margin:auto;
    width:75%;
}